<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <div class="container-fluid navbar-wrapper" th:fragment="navbar">
        <nav class="navbar navbar-expand-sm bg-info navbar-dark">
            <!-- Brand -->
            <a class="navbar-brand" href="#">Admin portal of bookstore</a>

            <!-- Toggler/collapsibe Button -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>

            <!-- Navbar links -->
            <div class="collapse navbar-collapse" id="collapsibleNavbar">
                <!-- Links -->
                <ul class="navbar-nav mr-auto">
                    <!-- Dropdown -->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                            Book
                        </a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" th:href="@{/book/formBook}">Add new book</a>
                            <a class="dropdown-item" th:href="@{/book/bookList}">View book list</a>
                        </div>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/logout}">
                            Sign out
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</html>